.catbn {
    background:#FFF;
}
.listbrand {
    height: 55px;
    padding: 5px 0;
    width: 750px;
    overflow:hidden;
    background:#FFF;
    margin-bottom:15px;
    margin:0 auto;
}
.listbrand ul {
    display:block;
    height: 55px;
    list-style:none;
}
.listbrand li {
    float: left;
    margin: 6px 20px;
}
.twobn {
    margin-bottom: 10px;
    width: 905px;
    height:195px;
}
.twobn span {
    background:#FFF;
}
.twobn span:last-child {
    margin-left:10px;
}
.tab {
    width:100%;
    height:48px;
    overflow:hidden;
    margin-bottom:7px;
    position:relative;
}
.tab span:first-child {

    float: left;
    padding: 17px;
    text-align: center;
}
.hair_mn span:first-child {
    background: none repeat scroll 0 0 #f36f21 !important;

}
.skin_mn span:first-child {
    background: none repeat scroll 0 0 #ed1c24 !important;

}
.oral_mn span:first-child {
    background: none repeat scroll 0 0 #32a9f5 !important;

}
.bath_mn span:first-child {
    background: none repeat scroll 0 0 #b0dd35 !important;

}
.feminine_mn span:first-child {
    background: none repeat scroll 0 0 #753e8e !important;

}
.men_mn span:first-child {
    background: none repeat scroll 0 0 #005826 !important;

}
.baby_mn span:first-child {
    background: none repeat scroll 0 0 #f58484 !important;

}
.vitamins_mn span:first-child {
    background: none repeat scroll 0 0 #ffae00 !important;

}

.tab span:first-child a {
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
}
.tab div.controls {
    background: none repeat scroll 0 0 #CCCCCC;
    border-left:1px solid #753e8e;
    height: 13px;
    padding: 12px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 8px;
    width: 8px;
}
.producttab {
    border-bottom: 3px solid #753E8E;
    display: block;
    height: 40px;
    /*    width: 905px;*/
    margin-top:5px;
    background:#ccc;
}
.hair_tab {
    border-bottom: 3px solid #f36f21;


}
.skin_tab {
    border-bottom: 3px solid #ed1c24;

}
.oral_tab {

    border-bottom: 3px solid #32a9f5;

}
.bath_tab  {

    border-bottom: 3px solid #b0dd35;

}
.feminine_tab  {

    border-bottom: 3px solid #753e8e;

}
.men_tab  {

    border-bottom: 3px solid #005826;

}
.baby_tab  {

    border-bottom: 3px solid #f58484;

}
.vitamins_tab {

    border-bottom: 3px solid #ffae00;

}


.producttab li {
    display: block;
    float: left;
    height: 40px;
    overflow: hidden;
}
.producttab li a {
    color: #222222;
    display: block;
    height: 30px;
    padding: 5px 12px 5px;
    line-height:30px;
    text-align: center;
}
.producttab li a.selected {
    background: none repeat scroll 0 0 #EBEBEB;
    border-top: 3px solid #ccc;
    color: #222222;
    display: block;
    height: 30px;
    padding: 2px 12px 5px;
    line-height:30px;
    text-align: center;
}
.producttab li a:hover {
    background: none repeat scroll 0 0 #EBEBEB;
    border-top: 3px solid #ccc;
    color: #222222;
    display: block;
    height: 30px;
    line-height:30px;
    padding: 2px 12px 5px;
    text-align: center;
}
.listproduct {
    overflow:hidden;
    background: none repeat scroll 0 0 #FFFFFF;
    width:100%;
}

.listproduct .product {
    margin-bottom: 10px;
    width: 100%;
}
.listproduct .item {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    float: left;
    height: 250px;
    margin: 5px 2px 10px 3px;
    overflow: hidden;
    text-align: center;
    width:196px;
    position: relative;
    padding: 5px;
}
.listproduct .last {
    margin-right:0px;
}
.listproduct .item:hover {

}
.listproduct .item img {
    margin:0 auto;
}
.listproduct .item div {
    text-align:left;
    /*padding-left:10px;*/
}
.listproduct .item div.pimg {
    text-align: center;
}
.listproduct .item div.pname {
    text-align:left;
    padding:0 10px;
    color:#F36F21;
    font-weight:bold;
    text-transform:uppercase;
}
.listproduct .item div.pdesc{
    color:#F36F21;
    padding: 0 10px;
}
.listproduct .item div.more {
    text-align:left;
    padding-left:10px;
    color:#ff8800;
}
.listproduct .item div.more a {
    text-align:left;
    color:#ff8800;
}
.listcat {
    clear:both;
    margin-top:0px;
    width:100%;
    overflow:hidden;
}
.listcat .block {
    width:100%;
    height:235px;
    display:block;
}
.listcat .cate {
    float: left;
    margin: 0 14px 0 0;
    width: 292px;
}
.listcat .cate  {
    float: left;
    margin: 0 14px 0 0;
    width: 292px;
}
.listcat .cate h1 {
    background: none repeat scroll 0 0 #EB6C20;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
    text-transform: uppercase;
}
.listcat .cate .catimg {
    border:1px solid #CCC;
    border-width: medium 1px 1px;
    height: 178px;
    overflow: hidden;
    padding: 0;
    width: 290px;
    border-top:none;
}

.listcategory {
    display:block;
    width:610px;
    padding:0 0px 0 10px;
    overflow:hidden;
}
.cat {
    float: left;
    height: 206px;
    margin: 0 17px 13px 0;
    width: 288px;
    border:1px solid #CCCCCC;
}
.listcat .last{
    float: left;
    height: 206px;
    margin: 0 0px 13px 0;
    width: 288px;
    border:1px solid #CCCCCC;
}
.cat p {
    background: none repeat scroll 0 0 #EB6C20;
    padding: 14px;
    position:absolute;
    opacity:0.7;
    width:260px;
}
.cat a {

    color: #FFFFFF;
    font-size: 16px;
    font-family:My_Font;
    text-transform: uppercase;
    width:260px;
}
.cat catimg {
    width:286px;
    height:175px;
    display:block;
}

/*** slide trong detail san pham **/
#prev, #next {
    background: transparent url(images/carousel_control.png ) no-repeat 0 0;
    text-indent: -999px;
    display: block;
    overflow: hidden;
    width: 15px;
    height: 21px;
    position: absolute;
    top: 65px;
}
#prev {
    background-position: 0 0;
    left: 20px;
}
#prev:hover {
    left:20px;
}			
#next {
    background-position: -18px 0;
    right: 15px;
}
#next:hover {
    right: 10px;
}				
#pager {
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}
#pager a {
    background: transparent url(images/carousel_control.png) no-repeat -2px -32px;
    text-decoration: none;
    text-indent: -999px;
    display: inline-block;
    overflow: hidden;
    width: 8px;
    height: 8px;
    margin: 0 5px 0 0;
}
#pager a.selected {
    background: transparent url(images/carousel_control.png) no-repeat -12px -32px;
    text-decoration: underline;				
}
#carousel_detail{ width:830px; margin:0 auto;}


/*** slider */
.slider    { overflow:hidden; position:relative; }
.slider li { float:left; margin:0 5px 0 0; list-style:none; }
/* IE6 issues */
.slider ul { width:100%; }

/*** slide bannner ***/

#product_list .promotion_tag {
    background:url(images/promotion_tag.png) 0 0 no-repeat;
    width:50px;
    height:50px;
    color:#333;
    padding:15px 0px 0px;
    text-align:center;
    position: absolute;
    top: 10px;
    right: 10px;
}
#product_list .promotion_tag span{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 0 2px;
    font-family: My_Font;
    color: #FFFFFF;
}

#product_list .sale_price {
    background:url(images/icon_hot_offer.png) 0 0 no-repeat;
    width:90px;
    height:53px;
    color:#fff;
    margin-top:5px;
    padding: 11px 0px 0px;
    text-align:center;
    position: absolute;
    bottom: 72px;
    right: 10px;
}
#product_list .sale_price span{
    font-weight: bold;
    font-size: 14px;
    font-family: My_Font;
}
.sale_price a.old_price {
    text-decoration: line-through;
    font-size: 16px;
    color: #555;
}
.sale_price a.new_price {
    font-size: 20px;
    color: #F36F21;
}
#product_list div.product_name {
    height: 36px;
    width: 196px;
    overflow: hidden;
}

#product_list a.product_name {
    color: #000;
    font-weight: bold;
}
#product_list .item .view_btn {
    position: absolute;
    top: 65px;
    left: 70px;
    visibility: hidden;
}
#product_list .item:hover .view_btn {
    visibility: visible;
    -webkit-F36F21ition: visibility 0.5s;  /* For Safari 3.1 to 6.0 */
    F36F21ition: visibility 0.5s;
}
