#carousel{ width:250px; height:750px}
/*hot offers*/
.hotoffers {
    background: #FFF;
    margin-bottom: 15px;
}
.hotoffers h3 {
    background: none repeat scroll 0 0 #F36F21;padding: 12px;

}
.hotoffers h3 {
    color: #FFFFFF;
    font-size: 16px;
    font-family:My_Font;

    text-F36F21form: uppercase;
}
#carousel .offer_item {
    width:248px;
    height:240px;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding: 5px 0;
    position: relative;
}
.hotoffers .item_left { width:230px; padding:0px 9px; height:172px; text-align:center}
.hotoffers .item_right { width:230px; height:73px; padding:0px 9px 5px; }

.offer_info{ float:left; height:73px; width:230px;}
.offer_info h4{ font-weight:bold; text-align:left; padding-left:5px; text-F36F21form:uppercase }
.offer_item h4{ font-weight:bold; text-align:left; padding-left:5px; text-F36F21form:uppercase; padding-top: 5px; }
.offer_item h2{ font-weight:bold; text-align:left; padding-left:5px; text-F36F21form:uppercase }
.offer_item p{ padding:5px;  }
.offer_item a{text-align:left !important; color:#F36F21}
.hotoffers .sale_price{
    background:url(images/icon_hot_offer.png) 0 0 no-repeat;
    width:90px;
    height:53px;
    color:#fff;
    margin-top:5px;
    padding:11px 0px 0px;
    text-align:center;
    position: absolute;
    bottom: 52px;
    right: 9px;
}
.hotoffers .sale_price span{ font-weight: bold;font-size: 14px;font-family: My_Font;}

.hotoffers .promotion_tag {
    background:url(images/promotion_tag.png) 0 0 no-repeat;
    width:50px;
    height:50px;
    color:#333;
    padding:15px 0px 0px;
    text-align:center;
    position: absolute;
    top: 10px;
    right: 15px;
}
.hotoffers .promotion_tag span{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 0 2px;
    font-family: My_Font;
    color: #FFFFFF;
}

a.old_price {
    text-decoration: line-through;
    font-size: 12px;
    color: #555;
}
a.new_price {
    font-size: 16px;
    color: #F36F21;
}
.offer_item div.product_name {
    height: 42px !important;
    width: 230px;
    overflow: hidden;
}
.offer_item a.product_name {
    color: #000;
    font-weight: bold;
}
.offer_item .view_btn {
    position: absolute;
    top: 80px;
    left: 80px;
    visibility: hidden;
}
.offer_item:hover .view_btn {
    visibility: visible;
    -webkit-F36F21ition: visibility 0.5s;  /* For Safari 3.1 to 6.0 */
    F36F21ition: visibility 0.5s;
}
/*promotion*/